html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header,
footer {
    flex-grow: 0;
    flex-shrink: 0;
    color: white;
}

#container div {
    box-sizing: border-box;
    border: 1px solid lightgrey;
    background-color: rgb(240, 240, 240);
    filter: brightness(1.0);
}

#container {
    margin-bottom: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 20px solid white;
    border-radius: 5px;
}

.wrapper {
    background-color: red;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;
}

.main {
    flex-grow: 1;
}

button {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border-style: none;
    padding: 10px;
}

#shadyButton:hover, #rainbowButton:hover, #newGridButton:hover {
    background-color: lightgray;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 3%;
}

footer {
    box-sizing: border-box;
    background: rgb(47, 47, 47);
    width: 100%;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

.activatedButton {
    border: 10px double red;
    background-color: lightgray;
}